.question_wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(15, 191, 214);
  display: inline-block;
  background: white;
}

.question_link_wrapper {
  padding: 2%;
}

.question_link {
  color: #565673;
}

.question_link h5 {
  font-weight: 700;
  margin-bottom: 20px;
}
.question_link:hover {
  color: #565673;
  text-decoration: none;
}
.question_thumbs_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#question_mark {
  margin: 10px 0;
  width: 80%;
  max-width: 80px;
  min-width: 20px;
  align-self: center;
}
.question_thumbs {
  width: 50%;
  max-width: 37px;
  margin: 5px 0;
}

.question_logo {
  display: flex;
}
